.bg-main {
    background-color: #edf2f9 !important;
}

.dot {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
}

.bg-dark-blue {
    background-color: #292e34 !important;
}

.bg-dark-blue-footer {
    background-color: #323840 !important;
}

.text-green {
    color: #0EC243 !important;
}

.bg-green {
    background-color: #0EC243 !important;
}

.border-green{
    border: 2px solid #0EC243!important;
}

.btn-green {
    background-color: #0EC243 !important;
    color: white !important;
    font-weight: 500 !important;
}

.btn-outline-green {
    border: 1px solid #E5E5E5 !important;
    background-color: white !important;
    font-weight: 500 !important;
}

.btn-outline-green:hover {
    border: 1px solid #0EC243 !important;
    background-color: #0EC243 !important;
    color: white !important;
    font-weight: 500 !important;
}

.footer-rgba {
    background-color: rgba(0, 0, 0, 0.7);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: #0EC243 !important;
}

.form-check-input:checked {
    background-color: #0EC243 !important;
    border-color: #0EC243 !important;
}

.form-check-input:focus {
    border-color: #86fe8c !important;
    box-shadow: 0 0 0 0.25rem rgba(14, 194, 67, .25) !important;
}

.btn-coin {
    display: flex;
    align-items: center;
    border: 1px solid #E79E12;
    color: #E79E12;
    background: rgba(231, 158, 18, 0.1);
    padding: 11px 28px;
    border-radius: 5px;
    width: 120px;
    font-size: 15px;
    font-weight: 500;
}

.label {
    display: inline-block;
    background-color: white;
    font-family: sans-serif;
    border-radius: 5px;
    cursor: pointer;
    border: 1px dashed #AAAAAA;
    stroke-dashoffset: 10px;
    height: 200px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fw-black{
    font-weight: 500;
}

.w-45{
    width: 45%!important;
}