.video-controls,
.video-timer,
.options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-timeline {
    height: 7px;
    width: 100%;
    cursor: pointer;
}

.video-timeline .progress-area {
    height: 3px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
}

.progress-area span {
    position: absolute;
    left: 50%;
    top: -25px;
    color: white;
    font-size: 13px;
    transform: translateX(-50%);
}

.progress-area .progress-bar {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #fff;
}

.progress-area .progress-bar::before {
    content: "";
    right: 0;
    top: 50%;
    height: 13px;
    width: 13px;
    background: black;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-50%);
}

.progress-area span,
.progress-area .progress-bar::before {
    display: none;
}

.video-timeline:hover .progress-area span,
.video-timeline:hover .progress-area .progress-bar::before {
    display: block;
}

.video-controls {
    padding: 5px 20px 10px;
}

.video-controls .options {
    width: 100%;
}

.video-controls .options:first-child {
    justify-content: flex-start;
}

.video-controls .options:last-child {
    justify-content: flex-end;
}

.options button {
    width: 40px;
    height: 40px;
    border: none;
    color: white;
    font-size: 19px;
    background: none;
    cursor: pointer;
}

.options button :where(i, span) {
    width: 100%;
    height: 100%;
    line-height: 40px;
}

.options input {
    height: 4px;
    max-width: 75px;
}

.options .video-timer {
    font-size: 14px;
    color: #efefef;
    margin-left: 15px;
}

.video-timer .separator {
    font-size: 16px;
    margin: 0 5px;
    font-family: "Open sana";
}